{% extends "base.html" %}

{% block content %}

    <div class="main-title">
        <h1 class="page-title">Login</h1>
    </div>

    <form method="post">
        <table>
            <tr>
                <td class="label">
                    Username
                </td>
                <td>
                    <input type="text" name="username" value="{{username}}">
                </td>
            </tr>

            <tr>
                <td class="label">
                    Password
                </td>
                <td>
                    <input type="password" name="password" value="">
                </td>
            </tr>
        </table>

        <div class="error">
            {{error}}
        </div>

        <input type="submit">
    </form>

    <br>

    <p>
        Not a member yet?
    </p>

    <form method="post" action="/signup">
        <button type="submit">Sign Up</button>
    </form>

    <br>

    <form method="get" action="/blog">
        <button type="submit">Back to Home</button>
    </form>

    <br><br>

{% endblock %}
