{% extends "base.html" %}

{% block content %}
  {{post.render() | safe}}
    <div class="error">
        {{error}}
    </div>
    <div class="buttons">
        <form method="get" action="/blog/{{post.key().id()}}/editpost">
            <button type="submit">Edit</button>
        </form>
        <form method="get" action="/blog/{{post.key().id()}}/comment">
            <button type="submit">Comment</button>
        </form>
        <form method="get" action="/blog/{{post.key().id()}}/like">
            <button type="submit">Like</button> {{post.likes}}
        </form>
        <form method="get" action="/blog/{{post.key().id()}}/dislike">
            <button type="submit">Dislike</button> {{post.dislikes}}
        </form>
        <form method="get" action="/blog/{{post.key().id()}}/deletepost">
            <button type="submit">Delete Post</button>
        </form>
    </div>
    <form method="get" action="/blog">
        <button type="submit">Back to Home</button>
    </form>
{% endblock %}
