{% extends "base.html" %}

{% block content %}

    <div class="main-title">
        <h1 class="page-title">Signup</h1>
    </div>
    <form method="post">

                <div class="label">
                    Username
                    <input type="text" name="username" value="{{username}}">
                </div>
                <div class="error">
                    {{error_username}}
                </div>
                <br>
                <div class="label">
                    Password
                    <input type="password" name="password" value="">
                </div>
                <div class="error">
                    {{error_password}}
                </div>
                <br>
                <div class="label">
                    Re-enter Password
                    <input type="password" name="reenter" value="">
                </div>
                <div class="error">
                    {{error_reenter}}
                </div>
                <br>
                <div class="label">
                    Email (optional)
                </div>
                    <input type="text" name="email" value="{{email}}">
                <div class="error">
                    {{error_email}}
                </div>

        <input type="submit">
    </form>
    <br>
    <p>
        Already a member?
    </p>
    <form method="post" action="/login">
        <button type="submit">Log In</button>
    </form>
    <br>
    <form method="get" action="/blog">
        <button type="submit">Back to Home</button>
    </form>

{% endblock %}
